*{margin: 5;
	padding: 0;}
	html{scroll-behavior: smooth;
	background: #FFE4C4}
	body{
		text-align: center;
	}
	.footer { 
		position: inherit;

		text-align: center;
		background-color: #2F4F4F;

		font-size: 20px;
		padding: 20px;
	}
	.logotip p{
		margin-left: 200px;
		font-size: 250%;
	}
	.footer .da{
		position: inherit;
		text-decoration: none;
		color: white;

	}

	.footer .da:hover{
		color: #808000;
	}
	a{color: white}
	.header{
		display: flex;
		margin-left: 350px;
	}
	.forma{
		margin: 0 auto;
		width: 300px;
	}
	.alg_bron label{
		font-size: 25px;
		padding-left: 25px;
	}

	.image{
		margin-left: 90px;
	}
	.topbutton {
		width:100px;
		border:2px solid #ccc;
		background:#f7f7f7;
		text-align:center;
		padding:10px;
		position:fixed;
		bottom:50px;
		right:50px;
		cursor:pointer;
		color:#333;
		font-family:verdana;
		font-size:12px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
	}
	.shap{
		border: 10px solid #2F4F4F;
		border-radius: 10px;
		height: 60px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 40px;
		background-color: #F0FFF0;
		margin-left: 15%;
	}
 .shap:hover{background: #D8BFD8 ;
 transition-property: all;
transition-duration: 1s;}
	.shap a{
		padding-left: 10px;
		text-decoration: none;
		color: #2F4F4F ;
	}

	.shap a:hover{
		color: #FF0000;
	}

	.main{
		text-align: center;
		width: 70%;
		margin: 0 auto;
	}

	.main .heading{
		border-bottom: 2px solid black;
		font-size: 25px;
	}

	.main .subtitle{
		text-align: center;
		font-size: 20px;
	}

	.sela_product{
		display: flex; 
		flex-direction: row;
		justify-content: space-around;

	}

	.button_poisk{
		width: 100px;
	}
	.otzuv{
		text-align: right;
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}
	.otzuv .user{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.user img{
		width: 200px;
		height: 120px;
	}

	.sela_product img{
		width: 300px;
		height: 200px;
	}

	.sela_product{
		padding: 10px;
		border: 2px solid black;
	}

	

	.fz label,p{
		font-size: 20px;
	}

	.company label{
		text-align: left;
	}



.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}
.aboba{text-align: center;}
.qwer{
	text-align: center;
	font-size: 20px;
}
.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
	

	.step{
		font-size: 25px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: 3s opacity;
	}

